@model SoloCapstoneProject.Models.Consumer

@{
    ViewData["Title"] = "ConsumerList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Schedule</h1>


<head>
    <style>

        #map {
            height: 200px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
</head>
<body>
    <h3>Map out your customers</h3>

    <div id="map"></div>
    <script>

        var marker;

        function initMap() {

            var defaultMap = { lat: @Model.Latitude, lng: @Model.Longitude };

            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 15, center: defaultMap });

            marker = new google.maps.Marker({ position: defaultMap, map: map });
        }
    </script>

    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMsdaoeePqO9F_hpJsr3xJSPbPfF7dW0U&callback=initMap">
    </script>
</body>

