@model SoloCapstoneProject.Models.Order

@{
    ViewData["Title"] = "ConsumerEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ConsumerEdit</h1>

<input type="hidden" asp-for="ProviderEstimate" />
<input type="hidden" asp-for="isAppointConfirmed" />
<input type="hidden" asp-for="ConsumerId" />
<input type="hidden" asp-for="ProviderId" />


<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ConsumerEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group">
                <label asp-for="ServiceDate" class="control-label"></label>
                <input asp-for="ServiceDate" class="form-control" />
                <span asp-validation-for="ServiceDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConsumerComments" class="control-label"></label>
                <input asp-for="ConsumerComments" class="form-control" />
                <span asp-validation-for="ConsumerComments" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProviderComments" class="control-label"></label>
                <input asp-for="ProviderComments" class="form-control" />
                <span asp-validation-for="ProviderComments" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

