@model SoloCapstoneProject.Models.ProviderAvailability

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProviderAvailability</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProviderAvailablityId" />
            <div class="form-group">
                <label asp-for="DayOfWeek" class="control-label"></label>
                <input asp-for="DayOfWeek" class="form-control" />
                <span asp-validation-for="DayOfWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningHour" class="control-label"></label>
                <input asp-for="OpeningHour" class="form-control" />
                <span asp-validation-for="OpeningHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingHour" class="control-label"></label>
                <input asp-for="ClosingHour" class="form-control" />
                <span asp-validation-for="ClosingHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProviderId" class="control-label"></label>
                <select asp-for="ProviderId" class="form-control" asp-items="ViewBag.ProviderId"></select>
                <span asp-validation-for="ProviderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
