@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Gawn.</b></h1>
    <p>When you don't have time for your lawn, use GAWN.</p>

    @*<a asp-controller="Details"
       asp-action="Details" asp-route-id="@Model.Consumer">Consumer Profile</a>

    <a asp-controller="Details"
       asp-action="Details" asp-route-id="@Model.Provider">Provider Profile</a>*@
</div>
